body {
	background-color: black;
}

#main {
	display: flex;
	height: 100%;
	width: 100%;
	margin: auto;
}

@keyframes grow {
	from { width: 25%; }
	to { width: 100%; }
}

@-webkit-keyframes grow {
	from { width: 25%; }
	to { width: 100%; }
}

#mole {
	width: 100%;
}

#mole-container {
	margin: auto;
	animation-name: grow;
	animation-duration: 240s;
}
